# Changelog

Semua perubahan penting pada proyek ini akan didokumentasikan di file ini.
Format ini didasarkan pada [Keep a Changelog](https://keepachangelog.com/en/1.0.0/)
dan proyek ini mematuhi [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

## [0.1.0] - 2026-06-08
### Added
- Inisialisasi proyek dan struktur dasar.
- Integrasi rule pelacakan versi otonom.
